.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  flex-grow: 1;
  padding: 0 $m-size;
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10%);
  margin-right: $s-size;
  color: $off-white;
}

.add-option__error {
  color: $off-white;
  font-style: italic;
  padding: $m-size;
  margin: $m-size 0 0 0;
}